name: Lint and Test Charts

on: pull_request

permissions:
  contents: read
  pull-requests: write
  checks: write

jobs:
  lint-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@b9e51907a09c216f16ebe8536097933489208112 # v4.3.0

      - uses: actions/setup-python@42375524e23c412d93fb67b49958b491fce71c38 # v5.4.0
        with:
          python-version: 3.11

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed="$(ct list-changed --config .github/linters/ct.yaml)"
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      # - name: install helm unittest plugin
      #   if: steps.list-changed.outputs.changed == 'true'
      #   run: |
      #     helm env
      #     helm plugin install https://github.com/quintush/helm-unittest.git --version 0.2.8

      - name: Run chart-testing (lint) renovate bot
        if: github.actor == 'renovate[bot]'
        run: ct lint --config .github/linters/ct.yaml --check-version-increment=false

      - name: Run chart-testing (lint)
        if: github.actor != 'renovate[bot]'
        run: ct lint --config .github/linters/ct.yaml

#      - name: Create kind cluster
#        uses: helm/kind-action@v1.5.0
#        if: steps.list-changed.outputs.changed == 'true'
#
#      - name: Run chart-testing (install)
#        run: ct install --config .github/linters/ct.yaml
